#root {
  max-width: 1580px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  overflow: hidden;
}
@font-face {
  font-family: 'Museo';
  src: url('./assets/font/museo_sans_ssv/Museo/MuseoSans-300.otf') format('truetype');
}

body {
  font-family: 'Museo', sans-serif;
}
.testimonial {
  background: linear-gradient(0.25turn, #A522c23d
  , #2229d024
  , #0ea4c424
  );
}
.navbar{
  background: linear-gradient(0.25turn
  , #221c38, #221c38
  , #A522c23d, #221c38, #221c38
  );
}
.noAnimation {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: scale(0);
}

.showAnimation {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1s;
}
