#root {
  max-width: 1580px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  overflow: hidden;
}
.testimonial {
  background: linear-gradient(0.25turn, #A522c23d
  , #2229d024
  , #0ea4c424
  );
}
.navbar{
  background: linear-gradient(0.25turn
  , #221c38, #221c38
  , #A522c23d, #221c38, #221c38
  );
}

